*{
    font-family:'Times New Roman', Times, serif;
}

.foto{
    max-width: 60%;
    border: 2px solid black;
    height:20vw;
    width: auto;
    border-radius: 50%;
    margin: 0 auto;
    padding: 10px;
    background-image: url("../images/foto.jpeg");
    background-size: cover;
    position: relative;
    margin-top: 10px;

    
}
.info{
    border: 2px solid black;
    margin: 5px;
    height: 40%;
}

.principal{

    background-color: burlywood;
    border: 2px solid black;
    height: 100vh;
    width: 100vh;
    margin: auto;
    box-sizing: border-box;
    padding: 2px;
}
.iz,
.cent,
.der{

    float: left;
    width: 33.33%;
    box-sizing: border-box;
    height: 100%;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;

}
p,
h1{
    text-align: center;
    font-size: 100%;
}
a{
    text-decoration: none;
    color: black;
}
.midcol,
.dercol{
    border: 2px solid black;
    height: auto;
    margin: 5px;
}
.skills{
    border: 2px solid black;
    height: 33%;
    width: auto;
    margin: 5px;
}
br{
size: 100%;
}
p{
    font-size: 100%;
}