*{
    font-family:'Times New Roman', Times, serif;
}

.foto{
    max-width: 60%;
    border: 2px solid black;
    height:20%;
    border-radius: 50%;
    margin: 0 auto;
    padding: 10px;
    background-image: url("../images/foto.jpeg");
    background-size: cover;
    position: relative;
    margin-top: 10px;

    
}
.info{
    border: 2px solid black;
    margin: 5px;
    height: 450px;
}

.principal{

    background-color: burlywood;
    border: 2px solid black;
    height: 98vh;
    width: 90vh;
    margin: auto;
    box-sizing: border-box;
    padding: 2px;
}
.iz,
.cent,
.der{

    float: left;
    width: 33.33%;
    box-sizing: border-box;
    height: 100%;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;

}
.inner{
    margin: 0px
}
.col1,
.col2,
.col3{
    padding: 2px;
    margin: 2px;
}
p,
h1{
    text-align: center;

}
a{
    text-decoration: none;
    color: black;
}
.midcol,
.dercol{
    border: 2px solid black;
    height: 926px;
    margin: 5px;
}
.skills{
    border: 2px solid black;
    height: 245px;
    margin: 5px;
}