*{
    font-family:'Times New Roman', Times, serif;
}

.foto{
    border: 1px solid black;
    width: 50%;
    height: 15%;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url("../images/foto.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    
}
.info{
    /* border: 2px solid black; */
    margin: 5px;
    height: 40%;
}

.principal{

    background-color: #c8dfdc;
    border: 2px solid black;
    padding: 4px;
    height: 110vh;
    width: 100vh;
    margin: auto;
    box-sizing: border-box;
    
}
.iz,
.cent,
.der{

    float: left;
    width: 33.33%;
    box-sizing: border-box;
    height: 100%;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;

}
p,
h1,
h2{
    text-align: center;
    font-size: 100%;
}
a{
    text-decoration: none;
    color: black;
}
.midcol,
.dercol,
.izCol{
    height: 97.5%;
    margin: 5px;
    padding: 5px;
    background-color: #F6F4EB;
}
.skills{
    height: 33%;
    width: auto;
}
br{
size: 100%;
}
p{
    font-size: 100%;
}
.javaLogo,
.sqlLogo,
.estrella,
.pythonLogo{
    height: 30%;
    width: 70%;
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
}
.stackTecnologico{
    margin-top: 40%;
}
hr{
    border: 1px solid black;
    width: 80%;
}
.referencias{
    margin-top: 60%;
}
